<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Close Dialogue</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Shared/stacks.css?v=047e88ccaeee">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Sites/stackoverflow/primary.css?v=9f3012e164b7">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.sstatic.net/Shared/Channels/channels.css?v=f039f0b977b7">
    <style>
        body, html {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
<!-- Close Dialogue -->
<div class="js-menu-popup-container">
    <div id="popup-close-question" class="popup z-modal"
         data-controller="se-draggable" data-questionid="72223929"
         data-postid="72223929"
         style="position: absolute; display: block; min-width: 800px;">
        <div class="popup-close"><a title="close this popup (or hit Esc)">×</a>
        </div>

        <form id="close-question-form" class="mn4 p4">

            <nav class="s-breadcrumbs mb6 sm:mb2 js-breadcrumbs">
                <div class="s-breadcrumbs--item"><span
                        class="s-breadcrumbs--link c-pointer" tabindex="0"
                        role="button">Closing</span>
                    <svg class="s-breadcrumbs--divider d-none svg-icon iconArrowRightAltSm"
                         aria-hidden="true"
                         width="13" height="14" viewBox="0 0 13 14">
                        <path d="m4.38 4.62 1.24-1.24L9.24 7l-3.62 3.62-1.24-1.24L6.76 7 4.38 4.62Z"></path>
                    </svg>
                </div>
            </nav>

            <h2 class="popup-title-container c-move fs-title"
                data-se-draggable-target="handle">
                <span class="popup-title">Why isn’t this question suited for Stack Overflow?</span>
            </h2>

            <div class="site-specific-pane popup-subpane dno popup-active-pane"
                 data-title="Why isn’t this question suited for Stack Overflow?"
                 data-breadcrumb="Community specific"
                 data-subpane-name="site-specific" style="display: block;">
                <ul class="action-list">
                    <li class="py12 js-popup-radio-action action-selected">
                        <div class="d-flex gs8 gsx">
                            <div class="flex--item">
                                <input type="radio" class="s-radio"
                                       name="siteSpecificCloseReasonId"
                                       id="siteSpecificCloseReasonId-4-"
                                       value="4" data-other-comment-id=""
                                       data-subpane-name="" checked>
                            </div>
                            <div class="flex--item fl1">
                                <label class="d-block s-label"
                                       for="siteSpecificCloseReasonId-4-">

                                    <span class="js-action-name">
                                        {{ reasons['Brief Description'] }}
                                    </span>
                                    <p class="s-description">
                                        {{ reasons['Usage guidance'] }}
                                    </p>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="py12 js-popup-radio-action">
                        <div class="d-flex gs8 gsx">
                            <div class="flex--item">
                                <input type="radio" class="s-radio"
                                       name="siteSpecificCloseReasonId"
                                       id="siteSpecificCloseReasonId-16-"
                                       value="16" data-other-comment-id=""
                                       data-subpane-name="">
                            </div>
                            <div class="flex--item fl1">
                                <label class="d-block s-label"
                                       for="siteSpecificCloseReasonId-16-">

                                    <span class="js-action-name">Seeking recommendations for books, tools, software libraries, and more</span>
                                    <p class="s-description">This question is
                                        likely to lead to opinion-based
                                        answers.</p>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="py12 js-popup-radio-action">
                        <div class="d-flex gs8 gsx">
                            <div class="flex--item">
                                <input type="radio" class="s-radio"
                                       name="siteSpecificCloseReasonId"
                                       id="siteSpecificCloseReasonId-13-"
                                       value="13" data-other-comment-id=""
                                       data-subpane-name="">
                            </div>
                            <div class="flex--item fl1">
                                <label class="d-block s-label"
                                       for="siteSpecificCloseReasonId-13-">

                                    <span class="js-action-name">Needs debugging details</span>
                                    <p class="s-description">The question should
                                        be updated to include desired behavior,
                                        a specific problem or error, and the
                                        shortest code necessary to reproduce the
                                        problem.</p>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="py12 js-popup-radio-action">
                        <div class="d-flex gs8 gsx">
                            <div class="flex--item">
                                <input type="radio" class="s-radio"
                                       name="siteSpecificCloseReasonId"
                                       id="siteSpecificCloseReasonId-11-"
                                       value="11" data-other-comment-id=""
                                       data-subpane-name="">
                            </div>
                            <div class="flex--item fl1">
                                <label class="d-block s-label"
                                       for="siteSpecificCloseReasonId-11-">

                                    <span class="js-action-name">Not reproducible or was caused by a typo</span>
                                    <p class="s-description">While similar
                                        questions may be <a
                                                href="https://stackoverflow.com/help/on-topic"
                                                target="_blank">on-topic</a>
                                        here, this one was resolved in a way
                                        less likely to help future readers.</p>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="py12 js-popup-radio-action">
                        <div class="d-flex gs8 gsx">
                            <div class="flex--item">
                                <input type="radio" class="s-radio"
                                       name="siteSpecificCloseReasonId"
                                       id="siteSpecificCloseReasonId-2-"
                                       value="2" data-other-comment-id=""
                                       data-subpane-name="migration">
                            </div>
                            <div class="flex--item fl1">
                                <label class="d-block s-label"
                                       for="siteSpecificCloseReasonId-2-">

                                    <span class="fw-normal js-action-name">This question belongs on another site in the Stack Exchange network</span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="py12 js-popup-radio-action">
                        <div class="d-flex gs8 gsx">
                            <div class="flex--item">
                                <input type="radio" class="s-radio"
                                       name="siteSpecificCloseReasonId"
                                       id="siteSpecificCloseReasonId-other"
                                       value="3"
                                       data-controller="s-expandable-control"
                                       aria-controls="site-specific-comment"
                                       aria-expanded="false">
                            </div>
                            <div class="flex--item fl1">
                                <label class="d-flex ai-center s-label fw-normal"
                                       for="siteSpecificCloseReasonId-other">
                                    <span class="fw-bold js-action-name">Other - add a comment</span>
                                    <span data-controller="s-tooltip"
                                          data-s-tooltip-placement="right"
                                          aria-describedby="--stacks-s-tooltip-395moaqf"><svg
                                            aria-hidden="true"
                                            class="d-block mx4 my2 svg-icon iconHelpSm"
                                            width="14" height="14"
                                            viewBox="0 0 14 14"><path
                                            d="M7 1C3.74 1 1 3.77 1 7c0 3.26 2.77 6 6 6 3.27 0 6-2.73 6-6s-2.73-6-6-6Zm1.06 9.06c-.02.63-.48 1.02-1.1 1-.57-.02-1.03-.43-1.01-1.06.02-.63.5-1.04 1.08-1.02.6.02 1.05.45 1.03 1.08Zm.73-3.07-.47.3c-.2.15-.36.36-.44.6a3.6 3.6 0 0 0-.08.65c0 .04-.03.14-.16.14h-1.4c-.14 0-.16-.09-.16-.13-.01-.5.11-.99.36-1.42A4.6 4.6 0 0 1 7.7 6.07c.15-.1.21-.21.3-.33.18-.2.28-.47.28-.74.01-.67-.53-1.14-1.18-1.14-.9 0-1.18.7-1.18 1.46H4.2c0-1.17.31-1.92.98-2.36a3.5 3.5 0 0 1 1.83-.44c.88 0 1.58.16 2.2.62.58.42.88 1.02.88 1.82 0 .5-.17.9-.43 1.24-.15.2-.44.47-.86.79h-.01Z"></path></svg></span>
                                    <div id="--stacks-s-tooltip-395moaqf"
                                         class="s-popover s-popover__tooltip pe-none"
                                         aria-hidden="true" role="tooltip">This
                                        comment will be shown publicly on the
                                        question. The post author will be
                                        notified privately to review community
                                        feedback.
                                        <div class="s-popover--arrow"></div>
                                    </div>
                                </label>
                                <div class="s-expandable"
                                     id="site-specific-comment">
                                    <div class="s-expandable--content">
                                        <div class="d-flex fd-column">
                                            <textarea class="s-textarea mt8"
                                                      name="siteSpecificOtherText"
                                                      placeholder="E.g. Looks like this question is about typesetting systems and would be a good fit for TeX-LaTex Stack Exchange.">I’m voting to close this question because </textarea>
                                            <input type="hidden"
                                                   name="originalSiteSpecificOtherText"
                                                   value="I’m voting to close this question because ">
                                            <div class="text-counter"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="popup-actions">
                <div class="d-flex gs8 gsx ai-center">
                    <button class="s-btn s-btn__primary flex--item js-popup-submit"
                            style="cursor: pointer;">
                        Vote to close
                    </button>
                    <button type="button"
                            class="s-btn flex--item js-popup-cancel js-popup-close d-none">
                        Cancel
                    </button>
                    <button type="button"
                            class="s-btn flex--item js-popup-back">Back
                    </button>
                    <span class="flex--item ml-auto fc-light">
You have X votes left today                            </span>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>